<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Snap Screen Supervisor</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Access supervisor menu <a href="supervisor">here</a></p>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/}" method="post">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
    <form th:action="@{/monitor}" method="post">
        <div><label> Device ID : <input type="text" name="deviceId"/> </label></div>
        <div><input type="submit" value="Monitor"/></div>
    </form>
</body>
</html>